<div class="py-16 bg-card">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-3 gap-8 text-center">
      <div class="flex flex-col items-center">
        <span class="app-icon app-icon-delivery text-groomie-sage mb-4 !text-[32px] md:!text-[48px]"></span>
        <h3 class="flex-1 font-semibold mb-2 text-foreground text-sm md:text-lg">Transport rapid</h3>
        <p class="text-muted-foreground text-sm font-medium">24-48h în toată România</p>
      </div>
      
      <div class="flex flex-col items-center">
        <span class="app-icon app-icon-undo text-groomie-sage mb-4 !text-[32px] md:!text-[48px]"></span>
        <h3 class="flex-1 font-semibold mb-2 text-foreground text-sm md:text-lg">Retur facil</h3>
        <p class="text-muted-foreground text-sm font-medium">30 de zile drept de retur</p>
      </div>
      
      <div class="flex flex-col items-center">
        <span class="app-icon app-icon-group text-groomie-sage mb-4 !text-[32px] md:!text-[48px]"></span>
        <h3 class="flex-1 font-semibold mb-2 text-foreground text-sm md:text-lg">1000+ Clienți Fericiți</h3>
        <p class="text-muted-foreground text-sm font-medium">Încrederea lor ne motivează</p>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Section trust",
  "tag": "section",
  "class": "section-trust-wrapper",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Section trust",
      "category": "Custom Layout",
    }
  ]
}
{% endschema %}
