<div class="sticky-cta-footer-padding w-full h-[114px] hidden"></div>

{% schema %}
{
  "name": "Section footer padding",
  "tag": "section",
  "class": "section-sticky-cta-footer-padding-wrapper",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Section sticky cta footer padding",
      "category": "Custom Layout",
    }
  ]
}
{% endschema %}
